/*Main Theme*/

html, body {
    background-color: #e9ebee;
}

nav div {
    background-color: #B66F3B;
}

.footer {
    background-color: #B66F3B;
}

p {
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: -5px;
}

.main {
    background-color: white;
    padding: 5px;
}

.photos {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.photos img {
    height: auto;
    max-width: 100%;
    max-height: 275px;
    margin: .6em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

select {
    font-size: 1.4em;
    padding: .1em;
}

fieldset {
    padding-bottom: .2em;
    border: 0px;
}

textarea {
    width: 80%;
    font-size: 20px;
}


#mainContainer {
    padding: 0;
    max-width: 100% !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main";
  padding-top: 2em;
  padding-bottom:60px;
  padding-left: 6em;
  padding-right: 6em;
  min-height: 79.3%;
  grid-gap: 4em;

}

@media screen and (max-width: 900px)
{
    .grid-container {
        padding: 0px;
    }
}

.main {
    grid-area: main;
    background-color: white;
    padding: 2em;
    margin-bottom: 2em;
}


/*My Photos*/
.sidebar {
    grid-area: sidebar;
    background-color: white;
    padding: 1em;
    text-align: center;
    max-height: 1070px;
    width: 7em;
    margin-bottom: 2em;
    margin-left: 2em;
}


.grid-container2 {
  display: grid;
  grid-template-columns: .5fr 4fr;
  grid-template-areas: "sidebar main";
  padding-top: 2em;
  padding-bottom: 2em;
  /*padding-left: 8em;*/
  padding-right: 6em;
  min-height: 79.3%;
  /*grid-gap: 4em;*/

}

.sidebar a, .sidebar a:link, .sidebar a:visited {
    color: #081E46;
    text-decoration: none;
    font-size: 1.8em;
}

.sidebar a:hover {
    color: #4C6592;
    font-size: 2.1em;
}

@media screen and (max-width: 900px)
{
    .grid-container2 {
        grid-template-columns: 1fr;
        grid-template-areas: "sidebar"
                             "main";
        padding: 0px;
    }

    .sidebar {
        padding: 0em;
        text-align: center;
        max-height: 855px;
        width: auto;
    }
}